footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  padding: 8rem 10rem 5rem;
  margin: auto;

  background: url(../assets/images/book-trace-background.png) no-repeat center top / cover ;

  & .contato {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .redes {
      border-top: 1px solid var(--shape-stroke);
      padding-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .rede {
        display: flex;
        border-radius: 50%;
        padding: .5rem;
        left: 0;
        top: 0;

        &:hover {
          background-color: var(--blue-low);

          & svg path {
            fill: var(--blue-light);
          }
        }
        & svg path {
          fill: var(--blue-base);
        }
      }


      
        

    }
  }

  & .menu {
    display: flex;
    gap: 3.5rem;

    & h3 {
      font: var(--title-xl);
      color: var(--text-body);
      margin-bottom: 1.25rem;
    }

    & ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      
    }

    
  }
}